<div class="top__bar">
  <!-- Logo -->
  <div class="logo">
    <img src="../assets/img/icon/logo_f8.svg" alt="" class="logo__img" />
    <h2 class="logo__title">grocerymart</h2>
  </div>
  <!-- Navbar -->
  <div class="navbar">
    <ul class="navbar">
      <li>
        <a href="#!" class="navbar__link"
          >Departments
          <img src="../assets/img/icon/arrow-down.svg" alt="" />
        </a>
      </li>
      <li>
        <a href="#!" class="navbar__link"
          >Grocery
          <img src="../assets/img/icon/arrow-down.svg" alt="" />
        </a>
      </li>
      <li>
        <a href="#!" class="navbar__link"
          >Beauty
          <img src="../assets/img/icon/arrow-down.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
  <!-- Action button -->
</div>
