<div class="container">
  <div class="footer__row">
    <!-- Footer column 1 -->
    <div class="footer__col">
      <!-- Logo -->
      <a href="./" class="logo footer__logo">
        <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
      </a>
      <p class="footer__desc">
        Xe lướt miền Trung cùng đội ngũ nhân viên tận tình thân thiết xin hân hạnh được hỗ trợ và phục vụ quý khách hàng
        trên mọi miền tổ quốc.
      </p>

      <p class="footer__help-text">Đăng ký để nhận tin tức mới</p>
      <form action="" class="footer__form">
        <input type="text" class="footer__input" placeholder="Địa chỉ Email" />
        <button class="btn btn--primary">Gửi</button>
      </form>
    </div>

    <!-- Footer column 2 -->
    <div class="footer__col">
      <h3 class="footer__heading">Sản Phẩm</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Toyota</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Mazda</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Suzuki</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Honda</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Ford</a>
        </li>
      </ul>
    </div>

    <!-- Footer column 3 -->
    <div class="footer__col">
      <h3 class="footer__heading">Liên hệ</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Vị trí cửa hàng</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Đăng kí hỗ trợ</a>
        </li>
      </ul>
    </div>

    <!-- Footer column 5 -->
    <div class="footer__col">
      <h3 class="footer__heading">Thông tin</h3>
      <ul class="footer__list">
        <li>
          <p class="footer__label">Email</p>
          <a href="mailto:contact@grocerymart.com" class="footer__link">xeluotmientrung@gmail.com</a>
        </li>
        <li>
          <p class="footer__label">Hotline</p>
          <a href="tel:18008888" class="footer__link">0917979799</a>
        </li>
        <li>
          <p class="footer__label">Địa Chỉ</p>
          <p class="footer__text">Số 3, Tên lửa, Phường 9, Quận Tân Bình, TP.Hồ Chí Minh</p>
        </li>
        <li>
          <p class="footer__label">Giờ mở cửa</p>
          <p class="footer__text">T2 - T7</p>
          <p class="footer__text">08:00am - 06:00pm</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">Copyright © 2023 Design by Hien Phan.</p>

    <div class="footer__socials">
      <a href="#!" class="footer__social-link footer__social-link--facebook">
        <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--youtube">
        <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--tiktok">
        <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--twitter">
        <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
      </a>
      <a href="#!" class="footer__social-link footer__social-link--linkedin">
        <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
      </a>
    </div>
  </div>
</div>
